.icloud_birthday-container {
	/*max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;*/
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.icloud_birthday-row {
	padding: 0 0 0 0;
	margin-left: 5px;
}

.icloud_birthday-title {
    font-size: 17px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 5px;
}

.icloud_birthday-name {
    font-size: 16;
    font-weight: 700;
}

.icloud_birthday-date {
    font-size: 16;
    padding: 0 2px 0 2px;
    font-weight: 700;
}