.icloud_birthday-container {
	/*max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;*/
    margin-bottom: 1.5em;
    width: 20em;
}

.icloud_birthday-row {
	padding: 0 0 0 0;
	margin-left: 5px;
}

.icloud_birthday-title {
    font-size: 16;
    font-weight: 700;
    padding-top: 5px;
}

.icloud_birthday-name {
    font-size: 14;
    font-weight: 700;
}

.icloud_birthday-date {
    font-size: 14;
    padding: 0 2px 0 2px;
    font-weight: 700;
}



.icloud_events-container {
	/*max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;*/
    margin-bottom: 1.5em;
    width: 20em;
}

.icloud_events-row {
	padding: 0 0 0 0;
	margin-left: 5px;
}

.icloud_events-title {
    font-size: 16;
    font-weight: 700;
    padding-top: 5px;
}

.icloud_events-date {
    padding: 0 2px 0 2px;
    font-size: 14;
    font-weight: 700;
}

.icloud_events-location {
    font-size: 12;
    font-weight: 700;
}

.icloud_events-name-and-blob {
    display: inline-block;
    font-size: 14;
    font-weight: 700;
}

.icloud_events-blob {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    padding: 2px;
    margin-right: 2px;
}
.icloud_events-blob_red {background-color: red;}
.icloud_events-blob_orange {background-color: orange;}
.icloud_events-blob_yellow {background-color: yellow;}
.icloud_events-blob_green {background-color: green;}
.icloud_events-blob_teal {background-color: teal;}
.icloud_events-blob_blue {background-color: blue;}
.icloud_events-blob_purple {background-color: rebeccapurple;}
.icloud_events-blob_pink {background-color: hotpink;}
.icloud_events-blob_brown {background-color: saddlebrown;}
.icloud_events-blob_white {background-color: white;}
.icloud_events-blob_black {background-color: black; border-color: white; border-width: 1px; border-style: solid;}