html {
    font-family: Roboto;
}
body {
    font-family: Roboto;
    cursor: none;
}

.divider {
	padding: 0 0 0 0;
	margin: 5px;
}


.material-shadow {
    -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
    box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.grayscale {
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); /* IE */
  -webkit-filter: grayscale(1); /* Chrome, Safari */
  filter: grayscale(1); /* Firefox */
}


.align_left {text-align: left;}
.align_center {text-align: center;}
.align_right {text-align: right;}

.btn_pointer {cursor: pointer;}


.material-text-dark-primary {color: #000;}
.material-text-dark-seconday {color: #333;}
.material-text-dark-divider {color: #666;}
.material-text-dark-disabled {color: #999;}
.material-text-light-primary {color: #FFF;}
.material-text-light-secondary {color: #CCC;}
.material-text-light-divider {color: #999;}
.material-text-light-disabled {color: #333;}
