body {
	background-color: black;
	color: white;
    font-family: Roboto;
}

.top {
	top: 0;
}
.bottom {
	bottom: 50px;
}
.left {
	left: 0;
}
.centre {
	left: 50%;
    transform: translateX(-50%);
}
.middle {
	top: 50%;
}
.right {
	right: 0;
}

#top-left {width: 25%;}
#top-centre {width: 50%;}
#top-right {width: 25%;}
#middle-centre {width: 50%;}
#bottom-left {width: 50%;}
#bottom-right {width: 50%;}

/* this item treated differently to combine transformations */
#middle-centre {
    transform: translateX(-50%) translateY(-50%);
}

.module-group {
	position: fixed;
	padding: 10px;
}

.module {}