.news-container {
	max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.article_row {
	padding: 0 0 10px 0;
}

.news_img {
	max-width: 30px;
	padding: 0 2px 0 0;
}

.news_title {
    font-size: 15px;
    font-weight: bold;
   }

.news_date {
    font-size: 15px;
    padding: 0 2px 0 2px;
    font-weight: 100;
   }

.grayscale {
  /* IE */
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);

  /* Chrome, Safari */
  -webkit-filter: grayscale(1);

  /* Firefox */
  filter: grayscale(1);
}

.news_img {}