.nest_heating-container {
    margin: 0 0 10px 0;
    padding: 0;
}

.nest_therm {}

.nest_thermIcon {
    display: block;
    height: 4em;
    width: 4em;
    padding: 0;
    margin: auto;
}

.nest_thermIconDetails {
    display: block;
    height: 2em;
    width: 2em;
    padding: 0;
    margin: auto;
}

.nest_tempState {
    display: block;
    text-align: center;
}

.nest_thermName {
    display: block;
    font-size: 1.5em;
}

.nest_temp {
    display: block;
}

.nest_tempValue {
    display: inline-block;
    margin: 0;
}

.nest_tempUnit {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 100;
    margin: 0;
}