.weather-container {
    max-width: 24em;
}

/* row styles */

.weather_row_today {
    font-size: 16;
    font-weight: 700;
    margin: 0px 10px;
}
.weather_row_hourly {
    margin-right: 15px;
    font-size: 14;
    font-weight: 700;
    margin: 0px 10px;
}
.weather_row_divider {
    margin: 0px 10px;
}
.weather_row_day {
    font-size: 16;
    font-weight: 700;
    margin: 0px 10px;
}

/* styles for the 'large' contents at top of weather block for today */

.weather_type_glyph_today {
    padding: 20px 0px 0px 0px;
    font-size: 70;
    transform: translate(0px, -10px);
}

.weather_detail_large {
    font-size: 70;
    font-weight: 400;
    margin: 0px 0px -10px 0px;
}

p.weather_temp_unit_today {
    margin-top: 12px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 25;
    margin: 0;
}

/* styles for today's row items */

.weather_item_today {
    padding: 0px;
}

/* styles for hourly row items */

p.weather_temp_hour_value {
    margin: 0px;
}
p.weather_temp_hour_unit {
    font-size: 14;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 0px;
}

.weather_hourly_item {
    display: block;
    text-align: center;
    padding: 0;
}

.weather_type_glyph_hr {
    padding: 10px 0px 0px 0px;
    transform: translate(0px, -5px);
}

/* styles for temperatures */

.weather_temp_div {
    display: inline-flex;
    font-weight: bold;
}

/*
.daynight {
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding-left: 10px;
    margin-bottom: 10px;
}
.daytime {
    border-left: 5px solid #70b1e2;
}
.nighttime {
    border-left: 5px solid #062845;
}
*/